<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html" lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Bank</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"></script>
</head>
<body class="bg-light">

<div class="container">
    <main>
        <div class="py-5 text-center">
            <h2>Rejestracja</h2>
            <p class="lead">Wszystkie wprowadzone dane są weryfikowane przez nasz system, dlatego prosimy o wprowadzanie
                tylko prawdziwych danych.</p>
        </div>
        <div class="col-9 m-auto" th:if="${registerSuccessfull != null}">
            <div class="text-center text-success fw-bold" th:text="${registerSuccessfull}"></div>
            <div class="text-muted fw-bold mt-4">Dane Twojego konta prezentują się następująco:</div>
            <ul class="mt-2">
                <li class="text-muted" th:text="'Imię: ' + ${registerDto.firstName}"></li>
                <li class="text-muted" th:text="'Nazwisko: ' + ${registerDto.lastName}"></li>
                <li class="text-muted" th:text="'Pesel: ' + ${registerDto.pesel}"></li>
                <li class="text-muted" th:text="'Numer telefonu: ' + ${registerDto.telephoneNumber}"></li>
                <li class="text-muted" th:text="'Adres: ' + ${registerDto.adress}"></li>
                <li class="text-muted" th:text="'Kod pocztowy: ' + ${registerDto.postalCode}"></li>
                <li class="text-muted" th:text="'Miasto: ' + ${registerDto.city}"></li>
                <li class="text-muted" th:text="'Płeć: ' + ${registerDto.gender.description}"></li>
                <li class="text-muted" th:text="'E-mail: ' + ${registerDto.email}"></li>
            </ul>
            <a href="/login" class="text-muted mt-4 mb-4" style="text-decoration: none">Kliknij aby przejść do logowania</a>
        </div>
        <div class="col-9 m-auto" th:if="${registerSuccessfull == null}">
            <div th:if="${#fields.hasErrors('${registerDto.*}')}">
                <h4 class="mb-3 mt-4 border-bottom">Błędy</h4>
                <ul>
                    <li class="text-muted" th:each="err : ${#fields.errors('registerDto.*')}" th:text="${err}"></li>
                </ul>
                <hr>
            </div>
            <div th:if="${!#fields.hasErrors('${registerDto.*}')}">
                <div th:if="${error != null}">
                    <h4 class="mb-3 mt-4 border-bottom">Błędy</h4>
                    <ul>
                        <li class="text-muted" th:text="${error}"></li>
                    </ul>
                    <hr>
                </div>
            </div>

            <h4 class="mb-3 border-bottom">Dane konta</h4>
            <form method="post" th:action="@{/register}">
                <div class="row g-3 align-self-center">
                    <div class="col-sm-6">
                        <label for="firstName" class="form-label">Imię</label>
                        <input type="text" class="form-control" id="firstName" th:field="${registerDto.firstName}">
                    </div>

                    <div class="col-sm-6">
                        <label for="lastName" class="form-label">Nazwisko</label>
                        <input type="text" class="form-control" id="lastName" th:field="${registerDto.lastName}">
                    </div>

                    <div class="col-sm-6">
                        <label for="pesel" class="form-label">Pesel</label>
                        <input type="text" class="form-control" id="pesel" th:field="${registerDto.pesel}">
                    </div>


                    <div class="col-sm-6">
                        <label for="address" class="form-label">Adres</label>
                        <input type="text" class="form-control" id="address" th:field="${registerDto.adress}">
                    </div>

                    <div class="col-sm-6">
                        <label for="postalcode" class="form-label">Kod pocztowy</label>
                        <input type="text" class="form-control" id="postalcode" th:field="${registerDto.postalCode}">
                    </div>

                    <div class="col-sm-6">
                        <label for="city" class="form-label">Miasto</label>
                        <input type="text" class="form-control" id="city" th:field="${registerDto.city}">
                    </div>

                    <div class="col-sm-6">
                        <label for="telephone" class="form-label">Numer telefonu</label>
                        <input type="text" class="form-control" id="telephone"
                               th:field="${registerDto.telephoneNumber}">
                    </div>

                    <div class="col-sm-6">
                        <label for="gender" class="form-label">Płeć</label>
                        <select class="form-select" id="gender" th:field="${registerDto.gender}">
                            <option th:each="gender : ${T(pl.saqie.SimpleBank.app.component.user.Gender).values()}"
                                    th:value="${gender}" th:text="${gender.description}"></option>
                        </select>
                    </div>

                    <h4 class="mb-3 mt-4 border-bottom">Zabezpieczenia</h4>

                    <div class="col-sm-6">
                        <label for="password" class="form-label">Hasło</label>
                        <input type="password" class="form-control" id="password" th:field="${registerDto.password}">
                    </div>

                    <div class="col-sm-6">
                        <label for="passwordRepeat" class="form-label">Powtórz hasło</label>
                        <input type="password" class="form-control" id="passwordRepeat"
                               th:field="${registerDto.passwordRepeat}">
                    </div>

                    <div class="col-sm-12">
                        <label for="email" class="form-label">Adres e-mail</label>
                        <input type="text" class="form-control" id="email" th:field="${registerDto.email}">
                    </div>
                </div>
                <button class="w-100 btn btn-outline-dark mt-4" type="submit">Zarejestruj się</button>
            </form>
            <div class="mt-3 col-12 text-center text-muted">Jeśli masz już konto, <a href="/login" class="text-muted"
                                                                                     style="text-decoration: none">kliknij</a>
                aby przejść do logowania.
            </div>
        </div>
    </main>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">Created by SaQie github.com/SaQie</p>
    </footer>
</div>
</body>
</html>