<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html" lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Bank</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"></script>
    <link href="../static/styles/dashboard_styles.css" th:href="@{/styles/dashboard_styles.css}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <div class="row flex-nowrap bg-light">
        <div class="col-auto px-0">
            <div id="sidebar" class="collapse collapse-horizontal show border-end">
                <div id="sidebar-nav" class="list-group border-0 rounded-0 text-sm-start min-vh-100">
                    <div class="list-group-item border-end-0 d-inline-block text-muted fw-bold text-center"
                         data-bs-parent="#sidebar"><img src="https://i.imgur.com/pGrf3qn.png" width="50" height="50">
                    </div>
                    <div class="list-group-item border-end-0 d-inline-block text-black fw-bold text-center ubuntu p-2"
                         data-bs-parent="#sidebar"><h4>Konto bankowe</h4></div>
                    <a href="/dashboard" class="list-group-item border-end-0 d-inline-block text-muted"
                       data-bs-parent="#sidebar">
                        <div class="menu-hover"><img src="https://i.imgur.com/q9h1xIS.png" width="20" height="20"> <span
                                class="ms-1">Panel główny</span></div>
                    </a>
                    <a href="/transfer" class="list-group-item border-end-0 d-inline-block text-muted"
                       data-bs-parent="#sidebar">
                        <div class="menu-hover"><img src="https://i.imgur.com/yHXUDeR.png" width="20" height="20"> <span
                                class="ms-1 activated">Wykonaj przelew</span></div>
                    </a>
                    <a href="/myaccount" class="list-group-item border-end-0 d-inline-block text-muted"
                       data-bs-parent="#sidebar">
                        <div class="menu-hover"><img src="https://i.imgur.com/fbl3hn1.png" width="20" height="20"> <span
                                class="ms-1">Moje konto</span></div>
                    </a>
                    <a href="/incomes" class="list-group-item border-end-0 d-inline-block text-muted"
                       data-bs-parent="#sidebar">
                        <div class="menu-hover"><img src="https://i.imgur.com/tZ9qXsV.png" width="20" height="20"> <span
                                class="ms-1">Przychody</span></div>
                    </a>
                    <a href="/expenses" class="list-group-item border-end-0 d-inline-block text-muted"
                       data-bs-parent="#sidebar">
                        <div class="menu-hover"><img src="https://i.imgur.com/VHoRMmu.png" width="20" height="20"> <span
                                class="ms-1">Wydatki</span></div>
                    </a>
                    <div class="list-group-item border-end-0 d-inline-block text-black fw-bold text-center ubuntu p-2"
                         data-bs-parent="#sidebar"><h4>Konto użytkownika</h4></div>
                    <a href="/details" class="list-group-item border-end-0 d-inline-block text-muted"
                       data-bs-parent="#sidebar">
                        <div class="menu-hover"><img src="https://i.imgur.com/QLVCxiW.png" width="20" height="20"> <span
                                class="ms-1">Twoje dane</span></div>
                    </a>
                    <a href="/change_password" class="list-group-item border-end-0 d-inline-block text-muted"
                       data-bs-parent="#sidebar">
                        <div class="menu-hover"><img src="https://i.imgur.com/a2KFETw.png" width="20" height="20"> <span
                                class="ms-1">Zmiana hasła</span></div>
                    </a>
                    <a href="/banks" class="list-group-item border-end-0 d-inline-block text-muted"
                       data-bs-parent="#sidebar">
                        <div class="menu-hover"><img src="https://i.imgur.com/cAUHTLz.png" width="20" height="20"> <span
                                class="ms-1">Aktywne konta bankowe</span></div>
                    </a>
                    <a href="/logout" class="list-group-item border-end-0 d-inline-block text-muted"
                       data-bs-parent="#sidebar">
                        <div class="menu-hover"><img src="https://i.imgur.com/hIygDG3.png" width="20" height="20"> <span
                                class="ms-1">Wyloguj się</span></div>
                    </a>
                    <div class="list-group-item border-end-0 d-inline-block text-black fw-bold text-center ubuntu p-2"
                         data-bs-parent="#sidebar"><h4>Kantor walut</h4></div>
                    <a href="/currencies" class="list-group-item border-end-0 d-inline-block text-muted"
                       data-bs-parent="#sidebar">
                        <div class="menu-hover"><img src="https://i.imgur.com/bnhLfry.png" width="20" height="20"> <span
                                class="ms-1">Kursy wszystkich walut</span></div>
                    </a>
                    <a href="/currency" class="list-group-item border-end-0 d-inline-block text-muted"
                       data-bs-parent="#sidebar">
                        <div class="menu-hover"><img src="https://i.imgur.com/FkjiLDs.png" width="20" height="20"> <span
                                class="ms-1">Kurs konkretnej waluty</span></div>
                    </a>
                    <div class="list-group-item border-end-0 d-inline-block text-black fw-bold text-center ubuntu p-2"
                         data-bs-parent="#sidebar"><h4>Zapisani odbiorcy</h4></div>
                    <a href="#" class="list-group-item border-end-0 d-inline-block text-muted"
                       data-bs-parent="#sidebar">
                        <div class="menu-hover"><img src="https://i.imgur.com/1wtk0m1.png" width="20" height="20"> <span
                                class="ms-1">Lista zapisanych odbiorców</span></div>
                    </a>
                    <a href="/recipient/add" class="list-group-item border-end-0 d-inline-block text-muted"
                       data-bs-parent="#sidebar">
                        <div class="menu-hover"><img src="https://i.imgur.com/eShcyti.png" width="20" height="20"> <span
                                class="ms-1">Dodaj odbiorcę</span></div>
                    </a>
                </div>
            </div>
        </div>
        <main class="col ps-md-2 pt-2">
            <div class="page-header pt-3">
                <h2>Wykonaj przelew</h2>
            </div>
            <p class="lead">Tutaj wykonasz przelew na wybrany numer bankowy</p>
            <hr>
            <div class="col-6 m-auto" th:if="${transferSuccess == null}">
                <h4 class="mb-3 border-bottom">Dane odbiorcy</h4>
                <form method="post" th:action="@{/transfer}">
                    <div class="row g-3 align-self-center">
                        <div class="col-sm-12">
                            <label for="accountNumber" class="form-label">Numer rachunku odbiorcy</label>
                            <input type="number" class="form-control" id="accountNumber" th:field="${transferMoneyDto.accountNumber}">
                            <div class="col-12 text-muted">Wprowadz 26-cyfrowy numer konta odbiorcy</div>
                        </div>
                        <div class="col-sm-12">
                            <label for="amount" class="form-label">Kwota</label>
                            <input type="number" step="0.01" class="form-control" id="amount" th:field="${transferMoneyDto.amount}">
                            <div class="col-12 text-muted">Wprowadz kwotę</div>
                        </div>
                        <div class="col-sm-12">
                            <label for="title" class="form-label">Tytuł przelewu</label>
                            <input type="text" step="0.01" class="form-control" id="title" th:field="${transferMoneyDto.description}">
                            <div class="col-12 text-muted">Wprowadz krótki opis przelewu</div>
                        </div>
                    </div>
                    <button class="w-100 btn btn-outline-success mt-4" type="submit">Wykonaj przelew</button>
                </form>
            </div>
            <div class="col-8 m-auto" th:if="${transferSuccess} != null">
                <h4 class="mt-5 mb-3 border-bottom text-success fw-bold" th:text="${transferSuccess}"></h4>
            </div>
            <div th:if="${#fields.hasErrors('${transferMoneyDto.*}')}">
                <h4 class="mb-3 mt-4 border-bottom">Błędy</h4>
                <ul>
                    <li class="text-muted" th:each="err : ${#fields.errors('transferMoneyDto.*')}" th:text="${err}"></li>
                </ul>
                <hr>
            </div>
            <div th:if="${error != null}">
                <h4 class="mb-3 mt-4 border-bottom">Błędy</h4>
                <ul>
                    <li class="text-muted" th:text="${error}"></li>
                </ul>
                <hr>
            </div>
        </main>
    </div>
</div>
</body>
</html>